<span class="entity-icon {{category}}" uib-tooltip="{{category}}"
  tooltip-append-to-body="true" tooltip-placement="left">
  <i class="fa fa-question-circle" ng-if="category=='Other'"></i>
  <i class="fa fa-suitcase" ng-if="category=='Company'"></i>
  <i class="fa fa-university" ng-if="category=='Organization'"></i>
  <i class="fa fa-user" ng-if="category=='Person'"></i>
</span>
