
// List entities page 
.nav.nav-tabs, {
    margin-bottom: 1em;
}

.actions {
    text-align: right;
}

.right-text {
    text-align: right;   
}


.facet-list {
    max-height: 20em;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical; 
    //margin: -3px -1px 0 -1px;

    .facet {
        cursor: pointer;
        white-space: nowrap;
        text-overflow: hidden;
        overflow-x: hidden;    
        
        .badge {
            background-color: $page-bg;
            color: $text-muted;
        }

        &.empty {
            color: $text-muted;
            font-style: italic;
            cursor: default;
        }

        &.active {
            a {
                color: white;
            }
        }
    }    
}

.search-bar {
    margin-bottom: 1em;
}

// Search results 
.search-result {
    padding: 1em 0 1.5em 0;
    border-bottom: 1px solid $gray-subtle;
    @include display-flex;
    //max-width: 90px;

    a:visited {
        color: $text-muted;
    }

    .document-type {
        @include flex-item(1 0 1.5em);
        width: 1.5em;
        font-size: 1.1em;
    }

    .descriptor {
        @include flex-item(99 0 6em);
    }

    .source {
        padding-top: 0.2em;
        // font-size: 0.9em;
        color: $text-muted;

        i {
            font-size: 0.8em;
        }

        a {
            color: $text-muted;
            text-decoration: underline;
        }
    }

    .summary, .records {
        padding-top: 0.2em;
        font-size: 0.95;
    }

    .title {
        font-weight: bold;
        font-size: 1.1em;
        // letter-spacing: 0.1em;

        .addon {
            margin-left: 0.2em;
            font-size: 0.8em;
            color: $text-muted;
        }
    }

    .records {
        a {
            text-decoration: underline;
        }

        .ref {
            color: $text-muted;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }

        .total {
            color: $text-muted;
        }
    }
}
