@import "colors";

// Style tiles, Colours
$border-color: #d7d7d7;
$boxed-color: #fafafa;
$default-radius: 3px;

$color-person: $col-2;
$color-company: $col-7;
$color-organization: $col-10;
$color-other: $col-20;

// override bootstrap defaults
$brand-primary: $occrp-red;
// $brand-success: $occrp-green;
$text-color: #333;
$text-muted: #999;
$gray-subtle: #f0f0f0;
$page-bg: #fff;
$spacing: 0.5em;

// Style tiles, Fonts
$font-default: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$input-border-focus: $brand-primary;

@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "mixins";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $text-muted;
    /*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
}

#page {
    position: relative;
    background-color: white;
    padding-bottom: 2em;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;

    a {
        color: white;
        text-decoration: underline;
    }    
}

@import "common";
@import "loadingbar";
@import "nav";
@import "home";
@import "search";
@import "tabular";
@import "text";
@import "spinner";
@import "entities";

.navbar.navbar-default {
    background-color: $page-bg;
    border-bottom: 0;
    @include drop-shadow;

    // .input-group-addon.brand-field {
    //     background-color: $page-bg;
    //     a {
    //         color: $occrp-red;    
    //     }
    // }
}

.intro-text {
    font-size: 1.2em;
    line-height: 1.7em;
    color: text-muted;
}

.list-group-item.active .badge {
    background-color: $brand-primary;
    color: $page-bg;
}

.modal-table {
    .active-switch {
        padding-left: 1.5em;
    }

    .table {
        .first-row td {
            border-top: none;   
        }
    }
}

.modal-scroll {
    max-height: 30em;
    overflow-y: scroll;
    @extend .modal-table;
}
